{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  {% block pagination %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endblock pagination %} 
  
  
  {% block content %}
  <li>
    <a href="{% url 'meal_plan_create' %}">Create A Meal Plan</a>
  </li>
  <main class="recipe-grid">
    {% for meals in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_detail' meals.pk %}">{{ meals.name }}</a>
        </h2>
      </div>
      {% for recipe in meal_plan.recipe.all %}
        <p class="recipe-card-date">{{ recipe.name }}</p>
      {% endfor %}
    {% endfor %}
  </main>
  {% endblock content %}
</html>
